* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Rubik', sans-serif; }

.hidden {
  display: none !important; }

@media all and (min-width: 1025px) {
  .only-mobile {
    display: none; } }

img {
  width: 100%; }

.container {
  padding: 0 36px; }
  @media all and (min-width: 1025px) {
    .container {
      padding: 0 148px; } }

@media all and (min-width: 1025px) {
  .hide-desktop {
    display: none !important; } }

.hide-mobile {
  display: none !important; }
  @media all and (min-width: 1025px) {
    .hide-mobile {
      display: inherit !important; } }

.link-wrapper img {
  min-width: 33px;
  width: 33px;
  height: 13px; }

.link-wrapper a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #4b4b4b;
  display: flex;
  align-items: center; }
  .link-wrapper a span {
    display: inline-block;
    margin-left: 10px;
    width: 200px; }
    @media all and (min-width: 1025px) {
      .link-wrapper a span {
        width: auto;
        font-size: 23px;
        font-weight: 500;
        line-height: 1.83;
        margin-left: 0;
        margin-right: 15px; } }

.social-links .link-wrapper a img {
  height: auto;
  width: 39px; }

.social-links .link-wrapper a span {
  font-size: 23px;
  line-height: 1.57;
  text-align: left;
  color: #072c28;
  font-weight: 300;
  margin-left: 21px; }

.menu-open .btn-toggle {
  width: 19px;
  height: 19px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 10px; }
  .menu-open .btn-toggle .line {
    position: absolute;
    height: 2px;
    background-color: black;
    width: 21px;
    top: 9px;
    transform: rotateZ(45deg); }
    .menu-open .btn-toggle .line:nth-of-type(2) {
      display: none; }
    .menu-open .btn-toggle .line:last-of-type {
      transform: rotateZ(-45deg); }

.menu-closed .btn-toggle {
  width: 40px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 10px; }
  .menu-closed .btn-toggle .line {
    margin-left: auto;
    margin-bottom: 6px;
    height: 2px;
    background-color: black;
    width: 33px; }
    .menu-closed .btn-toggle .line:nth-of-type(2) {
      width: 28px; }

.btn {
  margin: 0 auto; }
  .btn button, .btn a {
    width: 100%;
    height: 100%; }

input, button {
  outline: none; }

a {
  text-decoration: none; }

h1 {
  font-size: 49px;
  line-height: 1.33;
  color: #141414;
  text-align: left;
  font-weight: normal; }
  @media all and (min-width: 1025px) {
    h1 {
      font-size: 73px;
      line-height: 1.23; } }

h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.14;
  text-align: left;
  color: #343131;
  margin-bottom: 25px; }
  @media all and (min-width: 1025px) {
    h2 {
      font-size: 42px;
      line-height: 1;
      margin-bottom: 30px; } }

p {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.67;
  text-align: left;
  color: #4b4b4b; }
  @media all and (min-width: 1025px) {
    p {
      font-size: 23px; } }

header {
  padding: 37px 0 54px 0; }
  @media all and (min-width: 1025px) {
    header {
      padding-top: 102px; } }
  header .logo-wrapper {
    min-width: 147px; }
    @media all and (min-width: 1025px) {
      header .logo-wrapper {
        width: 198px;
        margin-right: 9%; } }
  header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
  header .menu-btn span {
    font-size: 13px;
    letter-spacing: normal;
    text-align: right;
    color: #141414;
    margin-left: auto;
    display: block; }
  header .menu-links {
    padding-top: 70px;
    position: fixed;
    background-color: white;
    top: 132px;
    left: 0;
    width: 100%;
    height: 640px;
    overflow-y: auto;
    display: none;
    z-index: 100;
    overflow: visible; }
    @media all and (min-width: 1025px) {
      header .menu-links {
        height: auto;
        display: flex;
        position: static;
        padding-top: 0;
        justify-content: space-between;
        align-items: center; } }
  header nav {
    width: 100%;
    height: 800px; }
    @media all and (min-width: 1025px) {
      header nav {
        width: 50%;
        max-width: 664px;
        display: flex;
        justify-content: space-between;
        height: auto; } }
    header nav .nav-link {
      position: relative; }
      header nav .nav-link p {
        padding-top: 10px;
        display: none;
        position: absolute;
        font-size: 17px;
        line-height: 1.47;
        text-align: left;
        color: #8d8d8d;
        width: 166px;
        border-top: 2px solid #89deb2; }
      header nav .nav-link:hover p {
        display: block; }
    header nav a {
      display: block;
      font-size: 30px;
      line-height: 1.37;
      text-align: center;
      color: #343131;
      margin-bottom: 34px; }
      @media all and (min-width: 1025px) {
        header nav a {
          font-size: 23px;
          line-height: 1.57;
          text-align: left;
          color: #4b4b4b;
          margin-bottom: 0; } }
    header nav .social-links a {
      width: 160px;
      margin: 0 auto;
      margin-bottom: 55px; }
  header .log-in-btns {
    width: 320px;
    display: flex;
    justify-content: space-between; }
    header .log-in-btns a {
      font-size: 23px;
      line-height: 50px;
      letter-spacing: normal;
      text-align: left;
      color: #c1c1c1; }
    header .log-in-btns .sign-up {
      background-color: #89deb2;
      width: 165px;
      height: 50px;
      text-align: center;
      border-radius: 15px; }
      header .log-in-btns .sign-up a {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.56px;
        text-align: center;
        color: #072c28; }
  header.header-registered {
    background-color: #f8be46; }
    header.header-registered .menu-links {
      background-color: #f8be46; }
  header.header-register {
    position: relative;
    background-color: transparent; }
    header.header-register .bg-header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none; }
      @media all and (min-width: 1025px) {
        header.header-register .bg-header {
          display: flex; } }
      header.header-register .bg-header div {
        width: 50%;
        height: 100%; }
        header.header-register .bg-header div:first-of-type {
          background-color: white; }
        header.header-register .bg-header div:last-of-type {
          background-color: rgba(139, 198, 169, 0.1); }
  header .menu-links {
    background-color: transparent; }

footer {
  background-color: #f7f0e0;
  padding: 59px 0 94px 0; }
  @media all and (min-width: 1025px) {
    footer {
      padding: 138px 7.3% 99px 7.3%; } }
  @media all and (min-width: 1025px) {
    footer .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; } }
  @media all and (min-width: 1025px) {
    footer .container > div {
      order: 1; } }
  @media all and (min-width: 1025px) {
    footer .container .footer-links {
      order: 2;
      width: 60%; } }
  @media all and (min-width: 1025px) {
    footer .container .btn-wrapper {
      order: 3; } }
  @media all and (min-width: 1025px) {
    footer .container .social-links {
      order: 4; } }
  footer .logo-wrapper {
    width: 149px;
    margin-bottom: 60px; }
    @media all and (min-width: 1025px) {
      footer .logo-wrapper {
        width: 48px;
        margin-bottom: 37px; } }
  footer p {
    font-size: 13px;
    line-height: 1.62;
    letter-spacing: normal;
    text-align: left;
    color: #072c28;
    margin-bottom: 37px; }
    footer p:nth-of-type(2) {
      margin-bottom: 60px; }
    @media all and (min-width: 1025px) {
      footer p {
        max-width: 346px; } }
  footer .btn-wrapper {
    width: 165px;
    height: 50px;
    margin-bottom: 54px; }
    footer .btn-wrapper .btn {
      width: 100%;
      background-color: #89deb2;
      border-radius: 15px;
      text-align: center; }
      footer .btn-wrapper .btn a {
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.1;
        letter-spacing: 0.56px;
        text-align: center;
        color: #072c28; }
  @media all and (min-width: 1025px) {
    footer .footer-links {
      display: flex;
      justify-content: space-between; } }
  footer .footer-links .item {
    width: 100%;
    margin-bottom: 62px; }
    footer .footer-links .item p {
      font-size: 23px;
      font-weight: 500;
      line-height: 1.57;
      text-align: left;
      color: #072c28;
      margin-bottom: 24px; }
    footer .footer-links .item a {
      font-size: 23px;
      line-height: 2.04;
      text-align: left;
      color: #868176;
      font-weight: 300; }
  @media all and (min-width: 1025px) {
    footer .social-links {
      width: 100%; } }
  @media all and (min-width: 1025px) {
    footer .social-links .link-wrapper a {
      justify-content: flex-end; } }

.hero {
  background-color: #f7f0e0;
  padding: 102px 36px; }
  @media all and (min-width: 1025px) {
    .hero {
      padding: 156px 138px 157px 138px;
      box-shadow: 0 37px 72px 0 rgba(247, 211, 122, 0.12);
      border-radius: 10px; } }
  .hero h1 {
    font-size: 42px; }
    @media all and (min-width: 1800px) {
      .hero h1 {
        font-size: 73px; } }
  .hero p {
    font-size: 23px;
    font-weight: bold;
    line-height: 1.83;
    text-align: left;
    color: #000000; }

.three-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .three-boxes .item {
    width: 100%;
    background-color: white;
    padding: 32px 27px 13px 40px; }
    @media all and (min-width: 1025px) {
      .three-boxes .item {
        width: 32%; } }
    .three-boxes .item .circle {
      width: 91px;
      height: 91px;
      border-radius: 50%;
      margin-bottom: 40px; }
      .three-boxes .item .circle--red {
        background-color: #e36b37; }
      .three-boxes .item .circle--green {
        background-color: #8ec6a9; }
      .three-boxes .item .circle--orange {
        background-color: #f6bd52; }

@media all and (min-width: 1025px) {
  .article-boxes {
    padding: 0;
    max-width: 1200px;
    margin: 0 auto; } }

@media all and (min-width: 1025px) {
  .article-boxes .item {
    max-width: 382px;
    padding: 0; } }

.two-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .two-boxes .item {
    width: 100%; }
    @media all and (min-width: 1025px) {
      .two-boxes .item {
        width: 50%; } }
    .two-boxes .item p {
      font-size: 23px;
      line-height: 1.83;
      margin-bottom: 10px; }
      @media all and (min-width: 1025px) {
        .two-boxes .item p {
          margin-bottom: 43px; } }
    .two-boxes .item h1 {
      line-height: 1.33;
      margin-bottom: 40px; }
      @media all and (min-width: 1025px) {
        .two-boxes .item h1 {
          margin-bottom: 12px; } }
    .two-boxes .item a {
      text-decoration: none;
      font-size: 23px;
      line-height: 1.83;
      color: #4b4b4b; }
      .two-boxes .item a .arrow {
        width: 33px;
        margin-left: 10px; }

.hero .fruit {
  display: none; }
  @media all and (min-width: 1025px) {
    .hero .fruit {
      display: inline-block; } }

.about, .articles {
  padding-top: 84px;
  padding-bottom: 20px; }
  @media all and (min-width: 1025px) {
    .about, .articles {
      padding: 152px 138px; } }
  .about .text-content, .articles .text-content {
    order: 2; }
    @media all and (min-width: 1025px) {
      .about .text-content, .articles .text-content {
        order: inherit; } }
    .about .text-content h2, .articles .text-content h2 {
      font-size: 42px;
      font-weight: 500;
      line-height: 1.17;
      text-align: left;
      color: #343131;
      margin-bottom: 10px; }
    .about .text-content p, .articles .text-content p {
      font-size: 18px;
      line-height: 1.67;
      font-weight: normal;
      text-align: left;
      color: #4b4b4b; }
      @media all and (min-width: 1025px) {
        .about .text-content p, .articles .text-content p {
          font-size: 23px; } }
  .about .img-content, .articles .img-content {
    order: 1; }
    @media all and (min-width: 1025px) {
      .about .img-content, .articles .img-content {
        order: inherit; } }
    .about .img-content .img-wrapper, .articles .img-content .img-wrapper {
      width: 223px;
      margin: 0 auto;
      margin-bottom: 85px; }
      @media all and (min-width: 1025px) {
        .about .img-content .img-wrapper, .articles .img-content .img-wrapper {
          width: 419px;
          margin-left: 31%; } }

.articles-text {
  max-width: 382px;
  width: 100%; }

@media all and (min-width: 1025px) {
  .articles {
    padding: 344px 13.5%;
    padding-bottom: 0; } }

@media all and (min-width: 1025px) {
  .articles .text-content h2 {
    margin-bottom: 27px; } }

@media all and (min-width: 1025px) {
  .articles .img-content .img-wrapper {
    max-width: 582px;
    width: 100%;
    margin-left: 0;
    position: relative;
    top: -68px;
    left: 22px; } }

.main-health .container {
  padding: 0; }
  @media all and (min-width: 1025px) {
    .main-health .container {
      padding: 80px 148px; } }

.join {
  padding-top: 60px; }
  @media all and (min-width: 1025px) {
    .join {
      padding: 0 8.5%; } }
  @media all and (min-width: 1025px) {
    .join .item {
      padding: 64px 0; } }
  @media all and (min-width: 1025px) {
    .join .item:first-of-type {
      padding-right: 17px; } }
  @media all and (min-width: 1025px) {
    .join .item:last-of-type {
      padding-left: 17px; } }
  .join .box {
    border-radius: 16px;
    position: relative;
    padding: 52px 25px 36px 25px;
    margin-bottom: 52px; }
    .join .box .img-wrapper {
      position: absolute; }
    .join .box .btn-wrapper {
      width: 100%; }
      .join .box .btn-wrapper .btn {
        margin: 0 auto;
        text-align: center;
        width: 167px;
        height: 50px;
        border-radius: 16px; }
        .join .box .btn-wrapper .btn a {
          line-height: 50px; }
    @media all and (min-width: 1025px) {
      .join .box {
        margin-bottom: 0; } }
    .join .box-left {
      background-color: #e36b37; }
      @media all and (min-width: 1025px) {
        .join .box-left {
          padding: 56px 75px 69px 75px; } }
      .join .box-left .img-wrapper {
        width: 89px;
        top: -60px; }
        @media all and (min-width: 1025px) {
          .join .box-left .img-wrapper {
            right: 30px;
            width: 117px; } }
      .join .box-left p, .join .box-left h2, .join .box-left ul {
        color: white;
        text-align: left; }
      .join .box-left .head-text {
        font-size: 18px;
        line-height: 2.33; }
        @media all and (min-width: 1025px) {
          .join .box-left .head-text {
            font-size: 23px;
            line-height: 1.83;
            margin-bottom: 20px; } }
      .join .box-left h2 {
        line-height: 1.14;
        margin-bottom: 23px; }
        @media all and (min-width: 1025px) {
          .join .box-left h2 {
            line-height: 1;
            margin-bottom: 42px; } }
      .join .box-left ul {
        font-size: 18px;
        line-height: 1.39;
        font-weight: 300;
        list-style: none; }
        @media all and (min-width: 1025px) {
          .join .box-left ul {
            font-size: 23px;
            line-height: 1.09; } }
        .join .box-left ul li {
          margin-bottom: 23px;
          position: relative;
          padding-left: 30px; }
          @media all and (min-width: 1025px) {
            .join .box-left ul li {
              margin-bottom: 33px; } }
          @media all and (min-width: 1025px) {
            .join .box-left ul li:last-of-type {
              margin-bottom: 0px; } }
          .join .box-left ul li::before {
            content: "";
            position: absolute;
            top: 5px;
            left: 7px;
            transform: rotate(45deg);
            height: 10px;
            width: 5px;
            border-bottom: 2px solid white;
            border-right: 2px solid white; }
      @media all and (min-width: 1025px) {
        .join .box-left .btn-wrapper {
          position: absolute;
          bottom: -25px;
          left: 0; } }
      .join .box-left .btn-wrapper .btn {
        background-color: #fabf36; }
        @media all and (min-width: 1025px) {
          .join .box-left .btn-wrapper .btn {
            margin-left: 65px; } }
        .join .box-left .btn-wrapper .btn a {
          font-size: 20px;
          font-weight: 500;
          line-height: 50px;
          letter-spacing: 0.56px;
          text-align: center;
          color: #072c28; }
    .join .box-right {
      background-color: #f6bd52; }
      @media all and (min-width: 1025px) {
        .join .box-right {
          padding: 105px 47px 67px 75px; } }
      .join .box-right .img-wrapper {
        width: 108px;
        top: 20px;
        right: -20px; }
        @media all and (min-width: 1025px) {
          .join .box-right .img-wrapper {
            width: 138px;
            top: -35px;
            right: 75px; } }
      .join .box-right .head-text {
        font-size: 18px;
        line-height: 2.33;
        letter-spacing: normal;
        text-align: left;
        color: black; }
      .join .box-right h2 {
        line-height: 1.14;
        letter-spacing: normal;
        margin-bottom: 20px;
        color: black; }
        @media all and (min-width: 1025px) {
          .join .box-right h2 {
            line-height: 1;
            margin-bottom: 35px; } }
      .join .box-right p {
        color: black; }
        .join .box-right p:nth-of-type(2) {
          font-size: 18px;
          line-height: 1.67;
          letter-spacing: normal;
          text-align: left;
          color: #000000;
          margin-bottom: 30px; }
          @media all and (min-width: 1025px) {
            .join .box-right p:nth-of-type(2) {
              font-size: 23px;
              line-height: 1.57;
              margin-bottom: 40px; } }
      .join .box-right .btn-wrapper .btn {
        background-color: #7c1a1c; }
        @media all and (min-width: 1025px) {
          .join .box-right .btn-wrapper .btn {
            margin: 0; } }
        .join .box-right .btn-wrapper .btn a {
          font-size: 20px;
          font-weight: 500;
          line-height: 50px;
          letter-spacing: 0.56px;
          text-align: center;
          color: #ffffff; }

.products-base {
  padding-top: 78px;
  padding-bottom: 30px; }
  @media all and (min-width: 1025px) {
    .products-base {
      padding: 305px 7.3% 30px 7.3%; } }
  .products-base h2 {
    line-height: 1.14;
    margin-bottom: 25px; }
    @media all and (min-width: 1025px) {
      .products-base h2 {
        line-height: 1;
        margin-bottom: 20px; } }
  .products-base p {
    line-height: 1.67;
    letter-spacing: normal;
    margin-bottom: 69px; }
    @media all and (min-width: 1025px) {
      .products-base p {
        line-height: 1.57;
        max-width: 760px;
        margin-bottom: 25px; } }

.articles-base {
  padding-top: 78px;
  padding-bottom: 30px; }
  @media all and (min-width: 1025px) {
    .articles-base {
      padding: 174px 7.3% 30px 7.3%; } }
  .articles-base h2 {
    line-height: 1.14;
    margin-bottom: 25px; }
    @media all and (min-width: 1025px) {
      .articles-base h2 {
        line-height: 1;
        margin-bottom: 30px; } }
  .articles-base p {
    line-height: 1.67;
    margin-bottom: 69px; }
    @media all and (min-width: 1025px) {
      .articles-base p {
        line-height: 1.57;
        max-width: 760px;
        margin-bottom: 25px;
        max-width: 382px; } }
  @media all and (min-width: 1025px) {
    .articles-base .three-boxes {
      padding-top: 145px; } }
  @media all and (min-width: 1025px) {
    .articles-base .three-boxes .img-wrapper {
      margin-bottom: 40px; } }
  .articles-base .three-boxes .item {
    padding: 0; }
    @media all and (min-width: 1025px) {
      .articles-base .three-boxes .item {
        margin-bottom: 145px; } }
    .articles-base .three-boxes .item a {
      font-size: 30px;
      line-height: 1.4;
      text-align: left;
      color: #343131; }

.content-base {
  padding: 30px 0; }
  @media all and (min-width: 1025px) {
    .content-base {
      padding-bottom: 155px; } }
  @media all and (min-width: 1025px) {
    .content-base .gallery {
      padding-top: 31px;
      display: flex;
      justify-content: space-between; } }
  @media all and (min-width: 1025px) {
    .content-base .gallery .item {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center; }
      .content-base .gallery .item .img-wrapper {
        margin: 9px; } }
  .content-base .gallery .item:first-of-type .img-wrapper {
    height: 100%; }
    .content-base .gallery .item:first-of-type .img-wrapper img {
      height: 100%; }

.what-prepared {
  background-color: #f7f7f7;
  padding: 85px 0 110px 0; }
  @media all and (min-width: 1025px) {
    .what-prepared {
      padding: 80px 7.3% 150px 7.3%; } }
  .what-prepared h2 {
    line-height: 1.14;
    letter-spacing: normal;
    margin-bottom: 40px; }
    @media all and (min-width: 1025px) {
      .what-prepared h2 {
        line-height: 1;
        margin-bottom: 54px; } }
  .what-prepared .item {
    background-color: white;
    padding: 32px 27px 13px 40px;
    margin-bottom: 5px; }
    @media all and (min-width: 1025px) {
      .what-prepared .item {
        padding-top: 78px;
        padding-bottom: 49px; } }
    .what-prepared .item .circle {
      width: 91px;
      height: 91px;
      border-radius: 50%;
      margin-bottom: 40px; }
      @media all and (min-width: 1025px) {
        .what-prepared .item .circle {
          width: 97px;
          height: 97px;
          margin-bottom: 80px; } }
      .what-prepared .item .circle--red {
        background-color: #e36b37; }
      .what-prepared .item .circle--green {
        background-color: #8ec6a9; }
      .what-prepared .item .circle--orange {
        background-color: #f6bd52; }
    .what-prepared .item h3 {
      font-size: 28px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #343131;
      margin-bottom: 15px; }
      @media all and (min-width: 1025px) {
        .what-prepared .item h3 {
          font-size: 42px;
          line-height: 1; } }
    .what-prepared .item p {
      font-weight: 300;
      line-height: 1.67;
      margin-bottom: 30px; }
      @media all and (min-width: 1025px) {
        .what-prepared .item p {
          line-height: 1.57;
          margin-bottom: 20px; } }

.registered {
  padding: 46px 0 75px 0;
  background-color: #f8be46; }
  @media all and (min-width: 1025px) {
    .registered {
      padding-top: 220px;
      padding-bottom: 370px; } }
  @media all and (min-width: 1025px) {
    .registered .container {
      display: flex;
      justify-content: space-around;
      padding: 0 21%; } }
  .registered .img-wrapper {
    width: 257px;
    margin: 0 auto; }
    @media all and (min-width: 1025px) {
      .registered .img-wrapper {
        width: 357px;
        margin: 0; } }
  .registered .text-wrapper {
    position: relative; }
    @media all and (min-width: 1025px) {
      .registered .text-wrapper {
        max-width: 382px;
        left: -9.5%;
        top: 50px; } }
  .registered h1 {
    font-weight: bold;
    line-height: 1.17;
    text-align: left;
    color: #141414;
    margin-bottom: 20px; }
  .registered p {
    font-weight: 300;
    line-height: 1.67; }
    .registered p a {
      text-decoration: none;
      color: white; }

.register {
  background-color: rgba(139, 198, 169, 0.1); }
  @media all and (min-width: 1025px) {
    .register {
      background-color: transparent; } }
  .register .container {
    padding: 29px 10px 91px 10px; }
    @media all and (min-width: 1025px) {
      .register .container {
        display: flex;
        justify-content: space-between;
        padding: 0; } }
  .register .two-boxes {
    width: 100%; }
  .register .item {
    position: relative; }
    @media all and (min-width: 1025px) {
      .register .item:first-of-type {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center; } }
    @media all and (min-width: 1025px) {
      .register .item:last-of-type {
        background-color: rgba(139, 198, 169, 0.1);
        padding-left: 50px;
        padding-top: 100px;
        padding-bottom: 90px; } }
    @media all and (min-width: 1360px) {
      .register .item:last-of-type {
        padding-left: 119px; } }
    .register .item:last-of-type .register-social {
      max-width: 377px; }
      .register .item:last-of-type .register-social p {
        font-size: 17px;
        font-weight: 500;
        line-height: 2.47;
        text-align: left;
        color: #343131;
        margin-bottom: 10px; }
  .register .imgs {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 35px; }
    @media all and (min-width: 1025px) {
      .register .imgs {
        display: none; } }
    .register .imgs .img-wrapper {
      width: 97px;
      display: flex;
      align-items: flex-end; }
  @media all and (min-width: 1025px) {
    .register .text-wrapper {
      max-width: 561px;
      margin-top: -80px;
      margin-left: 120px; } }
  @media all and (min-width: 1025px) {
    .register .form-wrapper {
      max-width: 415px; } }
  .register .form-wrapper .option-text {
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #4b4b4b; }
    .register .form-wrapper .option-text a {
      font-size: 17px; }
  .register h2 {
    padding-left: 26px;
    font-size: 42px;
    line-height: 1.17;
    text-align: left;
    color: #141414;
    font-weight: 300;
    margin-bottom: 15px; }
    @media all and (min-width: 1025px) {
      .register h2 {
        font-size: 54px;
        font-weight: normal;
        line-height: 1.19;
        text-align: left;
        color: #141414; } }
    .register h2 span {
      color: #529a8c; }
  .register ul {
    list-style: none; }
    .register ul li {
      padding-left: 60px;
      font-size: 18px;
      line-height: 1.39;
      text-align: left;
      color: #529a8c;
      margin-bottom: 43px;
      position: relative; }
      .register ul li::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 31px;
        transform: rotate(45deg);
        height: 10px;
        width: 5px;
        border-bottom: 2px solid #8bc6a9;
        border-right: 2px solid #8bc6a9; }

.form-wrapper {
  background-color: white;
  padding-bottom: 22px;
  margin-bottom: 22px;
  border-radius: 8px;
  border: 1px solid #dbdbdb;
  overflow: hidden; }
  .form-wrapper .tabs {
    display: flex;
    background-color: #f8f8f8;
    margin-bottom: 13px; }
    .form-wrapper .tabs .btn-wrapper {
      width: 50%; }
      .form-wrapper .tabs .btn-wrapper .btn {
        cursor: pointer;
        font-size: 17px;
        font-weight: 500;
        line-height: 2.47;
        letter-spacing: normal;
        text-align: center;
        color: #343131;
        padding: 10px 0;
        border-bottom: 1px solid #dbdbdb;
        border-radius: 8px; }
        .form-wrapper .tabs .btn-wrapper .btn.active {
          background-color: #ffffff;
          border: 1px solid #dbdbdb;
          border-top: none;
          border-left: none; }
  .form-wrapper form {
    margin: 0 auto;
    padding: 0 30px; }
    .form-wrapper form fieldset {
      border: none; }
      .form-wrapper form fieldset .input-wrapper {
        width: 100%; }
        .form-wrapper form fieldset .input-wrapper input {
          width: 100%;
          height: 40px;
          border-radius: 8px;
          border: solid 1px #dbdbdb;
          background-color: #ffffff;
          padding-left: 15px; }
        .form-wrapper form fieldset .input-wrapper label {
          display: block;
          margin-bottom: 12px;
          font-size: 17px;
          font-weight: 500;
          line-height: 2.47;
          text-align: left;
          color: #343131; }
      .form-wrapper form fieldset .btn-wrapper {
        margin-top: 20px; }
        .form-wrapper form fieldset .btn-wrapper .btn {
          width: 269px;
          height: 50px;
          text-align: center; }
          .form-wrapper form fieldset .btn-wrapper .btn button {
            background-color: #89deb2;
            border: none;
            font-size: 20px;
            font-weight: 600;
            line-height: 2.1;
            letter-spacing: 0.56px;
            text-align: center;
            color: #072c28;
            border-radius: 20px;
            outline: none; }
          .form-wrapper form fieldset .btn-wrapper .btn a {
            font-size: 20px;
            line-height: 2.1;
            letter-spacing: 0.56px;
            text-align: center;
            color: #4b4b4b; }
    .form-wrapper form .checkbox-wrapper {
      margin-top: 28px; }
      .form-wrapper form .checkbox-wrapper label {
        font-size: 17px;
        line-height: 1.35;
        text-align: left;
        color: #4b4b4b;
        display: flex; }
        .form-wrapper form .checkbox-wrapper label a {
          text-decoration: none;
          font-weight: bold;
          color: #4b4b4b; }
    .form-wrapper form .checkbox {
      position: relative;
      min-width: 19px;
      height: 17.3px;
      border-radius: 2px;
      border: 1px solid #dbdbdb;
      margin-right: 15px; }
      .form-wrapper form .checkbox .checkmark {
        display: none;
        position: absolute;
        top: 1px;
        left: 6px;
        transform: rotate(45deg);
        height: 12px;
        width: 6px;
        border-bottom: 2px solid #89deb2;
        border-right: 2px solid #89deb2; }
      .form-wrapper form .checkbox input {
        width: 100%;
        opacity: 0;
        height: inherit;
        margin: 0;
        padding-left: 0; }
        .form-wrapper form .checkbox input:checked + .checkmark {
          display: block; }

.register-social p {
  font-size: 17px;
  font-weight: 500;
  line-height: 2.47;
  text-align: left;
  color: #343131; }

.register-social .btns {
  display: flex;
  justify-content: space-between; }
  .register-social .btns .btn-wrapper {
    width: 48%;
    max-width: 180px; }
    .register-social .btns .btn-wrapper .btn {
      text-align: center;
      height: 47px;
      border-radius: 8px;
      border: 1px solid #dbdbdb;
      background-color: #ffffff;
      padding: 0 15px; }
      .register-social .btns .btn-wrapper .btn a {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 17px;
        line-height: 1.35;
        letter-spacing: normal;
        text-align: left;
        color: #4b4b4b; }
        .register-social .btns .btn-wrapper .btn a img {
          width: 20px;
          display: block; }
        .register-social .btns .btn-wrapper .btn a span {
          display: block; }
