footer {
  background-color: $bg-primary;
  padding: 59px 0 94px 0;
  @media all and (min-width: $desktop) {
    padding: 138px 7.3% 99px 7.3%;
  }

  .container {
    @media all and (min-width: $desktop) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    & > div {
      @media all and (min-width: $desktop) {
        order: 1;
      }
    }

    .footer-links {
      @media all and (min-width: $desktop) {
        order: 2;
        width: 60%;
      }
    }

    .btn-wrapper {
      @media all and (min-width: $desktop) {
        order: 3;
      }
    }

    .social-links {
      @media all and (min-width: $desktop) {
        order: 4;
      }
    }
  }

  .logo-wrapper {
    width: 149px;
    margin-bottom: 60px;
    @media all and (min-width: $desktop) {
      width: 48px;
      margin-bottom: 37px;
    }
  }

  p {
    font-size: 13px;
    line-height: 1.62;
    letter-spacing: normal;
    text-align: left;
    color: #072c28;
    margin-bottom: 37px;

    &:nth-of-type(2) {
      margin-bottom: 60px;
    }

    @media all and (min-width: $desktop) {
      max-width: 346px;
    }
  }

  .btn-wrapper {
    width: 165px;
    height: 50px;
    margin-bottom: 54px;

    .btn {
      width: 100%;
      background-color: $btn-green;
      border-radius: 15px;
      text-align: center;

      a {
        font-size: 20px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.1;
        letter-spacing: 0.56px;
        text-align: center;
        color: #072c28;
      }
    }
  }

  .footer-links {
    @media all and (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
    }

    .item {
      width: 100%;
      margin-bottom: 62px;

      p {
        font-size: 23px;
        font-weight: 500;
        line-height: 1.57;
        text-align: left;
        color: #072c28;
        margin-bottom: 24px;
      }

      a {
        font-size: 23px;
        line-height: 2.04;
        text-align: left;
        color: #868176;
        font-weight: 300;
      }
    }
  }

  .social-links {
    @media all and (min-width: $desktop) {
      width: 100%;
    }

    .link-wrapper {
      
      a {
        @media all and (min-width: $desktop) {
          justify-content: flex-end;
        }
      }
    }
  }

}