header {
  padding: 37px 0 54px 0;
  @media all and (min-width: $desktop) {
    padding-top: 102px;
  }

  .logo-wrapper {
    min-width: 147px;
    @media all and (min-width: $desktop) {
      width: 198px;
      margin-right: 9%;
    }

  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .menu-btn {

    span {
      font-size: 13px;
      letter-spacing: normal;
      text-align: right;
      color: #141414;
      margin-left: auto;
      display: block;
    }
  }

  .menu-links {
    padding-top: 70px;
    position: fixed;
    background-color: white;
    top: 132px;
    left: 0;
    width: 100%;
    height: 640px;
    overflow-y: auto;
    display: none;
    z-index: 100;
    overflow: visible;
    @media all and (min-width: $desktop) {
      height: auto;
      display: flex;
      position: static;
      padding-top: 0;
      justify-content: space-between;
      align-items: center;
    }
  }

  nav {
    width: 100%;
    height: 800px;
    @media all and (min-width: $desktop) {
      width: 50%;
      max-width: 664px;
      display: flex;
      justify-content: space-between;
      height: auto;
    }

    .nav-link {
      position: relative;

      p {
        padding-top: 10px;
        display: none;
        position: absolute;
        font-size: 17px;
        line-height: 1.47;
        text-align: left;
        color: #8d8d8d;
        width: 166px;
        border-top: 2px solid #89deb2;
      }

      &:hover {

        p {
          display: block;
        }
      }
    }

    a {
      display: block;
      font-size: 30px;
      line-height: 1.37;
      text-align: center;
      color: #343131;
      margin-bottom: 34px;

      @media all and (min-width: $desktop) {
        font-size: 23px;
        line-height: 1.57;
        text-align: left;
        color: #4b4b4b;
        margin-bottom: 0;
      }
    }

    .social-links {
      
      a {
        width: 160px;
        margin: 0 auto;
        margin-bottom: 55px;
      }
    }


  }

  .log-in-btns {
    width: 320px;
    display: flex;
    justify-content: space-between;

    a {
      font-size: 23px;
      line-height: 50px;
      letter-spacing: normal;
      text-align: left;
      color: #c1c1c1;
    }

    .sign-up {
      background-color: #89deb2;
      width: 165px;
      height: 50px;
      text-align: center;
      border-radius: 15px;
      a {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.56px;
        text-align: center;
        color: #072c28;
      }
    }
  }

  &.header-registered {
    background-color: $bg-yellow;

    .menu-links {
      background-color: $bg-yellow;
    }
  }

  &.header-register {
    position: relative;
    background-color: transparent;
    
    .bg-header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      @media all and (min-width: $desktop) {
        display: flex;
      }

      div {
        width: 50%;
        height: 100%;

        &:first-of-type {
          background-color: white;
        }
        &:last-of-type {
          background-color: rgba(139, 198, 169, 0.1);
        }
      }
    }
  }

  .menu-links {
    background-color: transparent;
  }
}