* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
}


.hidden {
  display: none !important;
}

.only-mobile {
  @media all and (min-width: $desktop) {
    display: none;
  }
}

img {
  width: 100%;
}

.container {
  padding: 0 36px;
  @media all and (min-width: $desktop) {
    padding: 0 148px;
  }
}

.hide-desktop {
  @media all and (min-width: $desktop) {
    display: none !important;
  }
}

.hide-mobile {
  display: none !important;
  @media all and (min-width: $desktop) {
    display: inherit !important;
  }
}

.link-wrapper {
    
  img {
    min-width: 33px;
    width: 33px;
    height: 13px;
  }

  a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #4b4b4b;
    display: flex;
    align-items: center;

    span {
      display: inline-block;
      margin-left: 10px;
      width: 200px;
      @media all and (min-width: $desktop) {
        width: auto;
        font-size: 23px;
        font-weight: 500;
        line-height: 1.83;
        margin-left: 0;
        margin-right: 15px;
      }
    }
  }
}

.social-links {

  .link-wrapper {

    a {

      img {
        height: auto;
        width: 39px;
      }

      span {
        font-size: 23px;
        line-height: 1.57;
        text-align: left;
        color: #072c28;
        font-weight: 300;
        margin-left: 21px;
      }
    }
  }
}

.menu {

  &-open {

    .btn-toggle {
      width: 19px;
      height: 19px;
      position: relative;
      margin: 0 auto;
      margin-bottom: 10px;

      .line {
        position: absolute;
        height: 2px;
        background-color: black;
        width: 21px;
        top: 9px;
        transform: rotateZ(45deg);

        &:nth-of-type(2) {
         display: none;
        }

        &:last-of-type {
          transform: rotateZ(-45deg);
        }
      }
    }
  }

  &-closed {

    .btn-toggle {
      width: 40px;
      position: relative;
      margin: 0 auto;
      margin-bottom: 10px;

      .line {
        margin-left: auto;
        margin-bottom: 6px;
        height: 2px;
        background-color: black;
        width: 33px;
  
        &:nth-of-type(2) {
          width: 28px;
        }

      }
    }
  }
}



.btn  {
  margin: 0 auto;
  
  button, a {
    width: 100%;
    height: 100%;
  }
}

input, button {
  outline: none;
}