$btn-green: #89deb2;
$btn-orange: #fabf36;
$btn-brown: #7c1a1c;

$bg-primary: #f7f0e0;

$bg-red: #e36b37;
$bg-orange: #f6bd52;
$bg-yellow: #f8be46;
$bg-green: #8bc6a9;

$circle-red: #e36b37;
$circle-green: #8ec6a9;
$circle-orange: #f6bd52;
