a {
  text-decoration: none;
}

h1 {
  font-size: 49px;
  line-height: 1.33;
  color: #141414;
  text-align: left;
  font-weight: normal;
  @media all and (min-width: $desktop) {
    font-size: 73px;
    line-height: 1.23;
  }
}

h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.14;
  text-align: left;
  color: #343131;
  margin-bottom: 25px;
  @media all and (min-width: $desktop) {
    font-size: 42px;
    line-height: 1;
    margin-bottom: 30px;
  }
}

p {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.67;
  text-align: left;
  color: #4b4b4b;
  @media all and (min-width: $desktop) {
    font-size: 23px;
  }
}
