.articles-base {
  padding-top: 78px;
  padding-bottom: 30px;
  @media all and (min-width: $desktop) {
    padding: 174px 7.3% 30px 7.3%;
  }

  h2 {
    line-height: 1.14;
    margin-bottom: 25px;
    @media all and (min-width: $desktop) {
      line-height: 1;
      margin-bottom: 30px;
    }
  }

  p {
    line-height: 1.67;
    margin-bottom: 69px;
    @media all and (min-width: $desktop) {
      line-height: 1.57;
      max-width: 760px;
      margin-bottom: 25px;
      max-width: 382px;
    }
  }

  .three-boxes {
    @media all and (min-width: $desktop) {
      padding-top: 145px;
    }

    .img-wrapper {
      @media all and (min-width: $desktop) {
        margin-bottom: 40px;
      }
    }

    .item {
      padding: 0;
      @media all and (min-width: $desktop) {
        margin-bottom: 145px;
      }

      a {
        font-size: 30px;
        line-height: 1.4;
        text-align: left;
        color: #343131;
      }
    }
  }

}