.content-base {
  padding: 30px 0;
  @media all and (min-width: $desktop) {
    padding-bottom: 155px;
  }

  .gallery {
    @media all and (min-width: $desktop) {
      padding-top: 31px;
      display: flex;
      justify-content: space-between;
    }

    .item {
      @media all and (min-width: $desktop) {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

        .img-wrapper {
          margin: 9px;
        }
      }

      &:first-of-type {
        
        .img-wrapper {
          height: 100%;
          
          img {
            height: 100%;
            
          }
        }
      }

    }
  }
}