.form-wrapper {
  background-color: white;
  padding-bottom: 22px;
  margin-bottom: 22px;
  border-radius: 8px;
  border: 1px solid #dbdbdb;
  overflow: hidden;

  .tabs {
    display: flex;
    background-color: #f8f8f8;
    margin-bottom: 13px;

    .btn-wrapper {
      width: 50%;

      .btn{
        cursor: pointer;
        font-size: 17px;
        font-weight: 500;
        line-height: 2.47;
        letter-spacing: normal;
        text-align: center;
        color: #343131;
        padding: 10px 0;
        border-bottom: 1px solid #dbdbdb;

        border-radius: 8px;

        &.active {
          background-color: #ffffff;
          border: 1px solid #dbdbdb;
          border-top: none;
          border-left: none;
        }
      }
    }
  }

  form {
    margin: 0 auto;
    padding: 0 30px;

    fieldset {
      border: none;

      .input-wrapper {
        width: 100%;

        input {
          width: 100%;
          height: 40px;
          border-radius: 8px;
          border: solid 1px #dbdbdb;
          background-color: #ffffff;
          padding-left: 15px;
        }

        label {
          display: block;
          margin-bottom: 12px;
          font-size: 17px;
          font-weight: 500;
          line-height: 2.47;
          text-align: left;
          color: #343131;        
        }
      }

      .btn-wrapper {
        margin-top: 20px;

        .btn {
          width: 269px;
          height: 50px;
          text-align: center;
          
          button {
            background-color: $btn-green;
            border: none;
            font-size: 20px;
            font-weight: 600;
            line-height: 2.1;
            letter-spacing: 0.56px;
            text-align: center;
            color: #072c28;
            border-radius: 20px;
            outline: none;
          }

          a {
            font-size: 20px;
            line-height: 2.1;
            letter-spacing: 0.56px;
            text-align: center;
            color: #4b4b4b;
          }
        }
      }
    }

    .checkbox-wrapper {
      margin-top: 28px;

      label {
        font-size: 17px;
        line-height: 1.35;
        text-align: left;
        color: #4b4b4b;
        display: flex;

        a {
          text-decoration: none;
          font-weight: bold;
          color: #4b4b4b;
        }
      }
    }

    .checkbox {
      position: relative;
      min-width: 19px;
      height: 17.3px;
      border-radius: 2px;
      border: 1px solid #dbdbdb;
      margin-right: 15px;

      .checkmark {
        display: none;
        position: absolute;
        top: 1px;
        left: 6px;
        transform: rotate(45deg);
        height: 12px;
        width: 6px;
        border-bottom: 2px solid $btn-green;
        border-right: 2px solid $btn-green;
      }

      input {
        width: 100%;
        opacity: 0;
        height: inherit;
        margin: 0;
        padding-left: 0;

        &:checked + .checkmark{
          display: block;
        }

      }
    }
  }

}

.register-social {
  
  p {
    font-size: 17px;
    font-weight: 500;
    line-height: 2.47;
    text-align: left;
    color: #343131;
  }

  .btns {
    display: flex;
    justify-content: space-between;

    .btn-wrapper {
      width: 48%;
      max-width: 180px;

      .btn {
        text-align: center;
        height: 47px;
        border-radius: 8px;
        border: 1px solid #dbdbdb;
        background-color: #ffffff;
        padding: 0 15px;

        a {
          display: flex;
          align-items: center;
          justify-content: space-around;
          font-size: 17px;
          line-height: 1.35;
          letter-spacing: normal;
          text-align: left;
          color: #4b4b4b;

          img {
            width: 20px;
            display: block;
          }

          span {
            display: block;
          }
        }
      }
    }
  }
}