.hero {
  background-color: $bg-primary;
  padding: 102px 36px;
  @media all and (min-width: $desktop) {
    padding: 156px 138px 157px 138px;
    box-shadow: 0 37px 72px 0 rgba(247, 211, 122, 0.12);
    border-radius: 10px;
  }

  h1 {
    font-size: 42px;
    @media all and (min-width: $desktop-lg) {
      font-size: 73px;
    }
  }

  p {
    font-size: 23px;
    font-weight: bold;
    line-height: 1.83;
    text-align: left;
    color: #000000;
  }


}