.join {
  padding-top: 60px;
  @media all and (min-width: $desktop) {
    padding: 0 8.5%;
  }

  .item {
    @media all and (min-width: $desktop) {
      padding: 64px 0;
    }

    &:first-of-type {
      @media all and (min-width: $desktop) {
        padding-right: 17px;
      }
    }

    &:last-of-type {
      @media all and (min-width: $desktop) {
        padding-left: 17px;
      }
    }
  }

  .box {
    border-radius: 16px;
    position: relative;
    padding: 52px 25px 36px 25px;
    margin-bottom: 52px;

    .img-wrapper {
      position: absolute;
    }

    .btn-wrapper {
      width: 100%;

      .btn {
        margin: 0 auto;
        text-align: center;
        width: 167px;
        height: 50px;
        border-radius: 16px;

        a { 
          line-height: 50px;
        }
      }
    }
    @media all and (min-width: $desktop) {
      margin-bottom: 0;
    }

    &-left {
      background-color: $bg-red;
      @media all and (min-width: $desktop) {
        padding: 56px 75px 69px 75px;
      }

      .img-wrapper {
        width: 89px;
        top: -60px;
        @media all and (min-width: $desktop) {
          right: 30px;
          width: 117px;
        }
      }

      p, h2, ul {
        color: white;
        text-align: left;
      }

      .head-text {
        font-size: 18px;
        line-height: 2.33;
        @media all and (min-width: $desktop) {
          font-size: 23px;
          line-height: 1.83;
          margin-bottom: 20px;
        }
      }

      h2 {
        line-height: 1.14;
        margin-bottom: 23px;
        @media all and (min-width: $desktop) {
          line-height: 1;
          margin-bottom: 42px;
        }
      }

      ul {
        font-size: 18px;
        line-height: 1.39;
        font-weight: 300;
        list-style: none;

        @media all and (min-width: $desktop) {
          font-size: 23px;
          line-height: 1.09;        
        }

        li {
          margin-bottom: 23px;
          position: relative;
          padding-left: 30px;
          @media all and (min-width: $desktop) {
            margin-bottom: 33px;
          }

          &:last-of-type {
            @media all and (min-width: $desktop) {
              margin-bottom: 0px;
            }
          }

          &::before {
            content: "";
            position: absolute;
            top: 5px;
            left: 7px;
            transform: rotate(45deg);
            height: 10px;
            width: 5px;
            border-bottom: 2px solid white;
            border-right: 2px solid white;
          }
        }
      }

      .btn-wrapper {
        @media all and (min-width: $desktop) {
          position: absolute;
          bottom: -25px;
          left: 0;
        }

        .btn {
          background-color: $btn-orange;
  
          @media all and (min-width: $desktop) {
            margin-left: 65px;
          }
  
          a {
            font-size: 20px;
            font-weight: 500;
            line-height: 50px;
            letter-spacing: 0.56px;
            text-align: center;
            color: #072c28;
          }
        }
      }



    }

    &-right {

      background-color: $bg-orange;
      @media all and (min-width: $desktop) {
        padding: 105px 47px 67px 75px;
      }

      .img-wrapper {
        width: 108px;
        top: 20px;
        right: -20px;
        @media all and (min-width: $desktop) {
          width: 138px;
          top: -35px;
          right: 75px;
        }
      }

      .head-text {
        font-size: 18px;
        line-height: 2.33;
        letter-spacing: normal;
        text-align: left;
        color: black;
      }

      h2 {
        line-height: 1.14;
        letter-spacing: normal;
        margin-bottom: 20px;
        color: black;
        @media all and (min-width: $desktop) {
          line-height: 1;
          margin-bottom: 35px;
        }
      }

      p {
        color: black;

        &:nth-of-type(2) {
          font-size: 18px;
          line-height: 1.67;
          letter-spacing: normal;
          text-align: left;
          color: #000000;
          margin-bottom: 30px;
          @media all and (min-width: $desktop) {
            font-size: 23px;
            line-height: 1.57;
            margin-bottom: 40px;
          }

        }
      }

      .btn-wrapper {
        .btn {
          background-color: $btn-brown;
          @media all and (min-width: $desktop) {
            margin: 0;
          }
  
          a { 
            font-size: 20px;
            font-weight: 500;
            line-height: 50px;
            letter-spacing: 0.56px;
            text-align: center;
            color: #ffffff;
          }
        }
      }

    }
  }
}