.products-base {
  padding-top: 78px;
  padding-bottom: 30px;
  @media all and (min-width: $desktop) {
    padding: 305px 7.3% 30px 7.3%;
  }

  h2 {
    line-height: 1.14;
    margin-bottom: 25px;
    @media all and (min-width: $desktop) {
      line-height: 1;
      margin-bottom: 20px;
    }
  }

  p {
    line-height: 1.67;
    letter-spacing: normal;
    margin-bottom: 69px;
    @media all and (min-width: $desktop) {
      line-height: 1.57;
      max-width: 760px;
      margin-bottom: 25px;
    }
  }

}