.register {
  background-color: rgba(139, 198, 169, 0.1);
  @media all and (min-width: $desktop) {
    background-color: transparent;
  }

  .container {
    padding: 29px 10px 91px 10px;
    @media all and (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
      padding: 0;
    }
  }

  .two-boxes {
    width: 100%;
  }

  .item {
    position: relative;

    &:first-of-type {
      @media all and (min-width: $desktop) {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &:last-of-type {
      @media all and (min-width: $desktop) {
        background-color: rgba(139, 198, 169, 0.1);
        padding-left: 50px;
        padding-top: 100px;
        padding-bottom: 90px;
      }
      @media all and (min-width: $desktop-md) {
        padding-left: 119px;
      }

      .register-social {
        max-width: 377px;
    
        p {
          font-size: 17px;
          font-weight: 500;
          line-height: 2.47;
          text-align: left;
          color: #343131;
          margin-bottom: 10px;
        }
      }
    }
  }
  .imgs {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 35px;
    @media all and (min-width: $desktop) {
      display: none;
    }

    .img-wrapper {
      width: 97px;
      display: flex;
      align-items: flex-end;
    }
  }

  .text-wrapper {
    @media all and (min-width: $desktop) {
      max-width: 561px;
      margin-top: -80px;
      margin-left: 120px;
    }
  }

  .form-wrapper {
    @media all and (min-width: $desktop) {
      max-width: 415px;
    }

    .option-text {
      font-size: 17px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.35;
      letter-spacing: normal;
      text-align: left;
      color: #4b4b4b;

      a {
        font-size: 17px;
      }
    }

  }

  h2 {
    padding-left: 26px;
    font-size: 42px;
    line-height: 1.17;
    text-align: left;
    color: #141414;
    font-weight: 300;
    margin-bottom: 15px;
    @media all and (min-width: $desktop) {
      font-size: 54px;
      font-weight: normal;
      line-height: 1.19;
      text-align: left;
      color: #141414;
    }

    span {
      color: #529a8c;
    }
  }

  ul {
    list-style: none;

    li {
      padding-left: 60px;
      font-size: 18px;
      line-height: 1.39;
      text-align: left;
      color: #529a8c;
      margin-bottom: 43px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 31px;
        transform: rotate(45deg);
        height: 10px;
        width: 5px;
        border-bottom: 2px solid #8bc6a9;
        border-right: 2px solid #8bc6a9;
      }
    }
  }



}