.registered {
  padding: 46px 0 75px 0;
  background-color: $bg-yellow;

  @media all and (min-width: $desktop) {
    padding-top: 220px;
    padding-bottom: 370px;
  }

  .container {
    @media all and (min-width: $desktop) {
      display: flex;
      justify-content: space-around;
      padding: 0 21%;
    }
  }

  .img-wrapper {
    width: 257px;
    margin: 0 auto;
    @media all and (min-width: $desktop) {
      width: 357px;
      margin: 0;
    }
  }

  .text-wrapper {
    position: relative;
    @media all and (min-width: $desktop) {
      max-width: 382px;
      left: -9.5%;
      top: 50px;
    }
  }

  h1 {
    font-weight: bold;
    line-height: 1.17;
    text-align: left;
    color: #141414;
    margin-bottom: 20px;
  }

  p {
    font-weight: 300;
    line-height: 1.67;

    a {
      text-decoration: none;
      color: white;
    }
  }
}