.three-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  .item {
    width: 100%;
    @media all and (min-width: $desktop) {
      width: 32%;
    }
    background-color: white;
    padding: 32px 27px 13px 40px;

    .circle {
      width: 91px;
      height: 91px;
      border-radius: 50%;
      margin-bottom: 40px;

      &--red {
        background-color: $circle-red;
      }

      &--green {
        background-color: $circle-green;
      }

      &--orange {
        background-color: $circle-orange;
      }
    }
  }
}

.article-boxes {

  @media all and (min-width: $desktop) {
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
  }

  .item {
    @media all and (min-width: $desktop) {
      max-width: 382px;
      padding: 0;
    }
  }
}