.two-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .item {
    width: 100%;
    @media all and (min-width: $desktop) {
      width: 50%;
    }

    p {
      font-size: 23px;
      line-height: 1.83;
      margin-bottom: 10px;
      @media all and (min-width: $desktop) {
        margin-bottom: 43px;
      }
    }

    h1 {
      line-height: 1.33;
      margin-bottom: 40px;
      @media all and (min-width: $desktop) {
        margin-bottom: 12px;
      }
    }

    a {
      text-decoration: none;
      font-size: 23px;
      line-height: 1.83;
      color: #4b4b4b;

      .arrow {
        width: 33px;
        margin-left: 10px;
      }
    }
  }

}

.hero {
 

  .fruit {
    display: none;
    @media all and (min-width: $desktop) {
      display: inline-block;
    }
  }
}


.about, .articles {
  padding-top: 84px;
  padding-bottom: 20px;

  @media all and (min-width: $desktop) {
    padding: 152px 138px;
  }

  .item {

    // &:first-of-type {
    //   @media all and (min-width: $desktop) {
    //     width: 55%;
    //   }
    // }
    // &:last-of-type {
    //   @media all and (min-width: $desktop) {
    //     width: 45%;
    //   }
    // }
  }

  .text-content {
    order: 2;
    @media all and (min-width: $desktop) {
      order: inherit;
    }

    h2 {
      font-size: 42px;
      font-weight: 500;
      line-height: 1.17;
      text-align: left;
      color: #343131;    
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      line-height: 1.67;
      font-weight: normal;
      text-align: left;
      color: #4b4b4b;
      @media all and (min-width: $desktop) {
        font-size: 23px;
      }
    }
  }

  .img-content {
    order: 1;
    @media all and (min-width: $desktop) {
      order: inherit;
    }

    .img-wrapper {
      width: 223px;
      margin: 0 auto;
      margin-bottom: 85px;
      @media all and (min-width: $desktop) {
        width: 419px;
        margin-left: 31%;
      }
    }
  }
}

.articles-text {
  max-width: 382px;
  width: 100%;
}

.articles {

  @media all and (min-width: $desktop) {
    padding: 344px 13.5%;
    padding-bottom: 0;
  }

  .text-content {

    h2 {
      @media all and (min-width: $desktop) {
        margin-bottom: 27px;
      }
    }
  }

  .img-content {

    .img-wrapper {
      @media all and (min-width: $desktop) {
        max-width: 582px;
        width: 100%;
        margin-left: 0;
        position: relative;
        top: -68px;
        left: 22px;
      }
    }
  }


}