.what-prepared {
  background-color: #f7f7f7;
  padding: 85px 0 110px 0;
  @media all and (min-width: $desktop) {
    padding: 80px 7.3% 150px 7.3%;
  }

  h2 {
    line-height: 1.14;
    letter-spacing: normal;
    margin-bottom: 40px;
    @media all and (min-width: $desktop) {
      line-height: 1;
      margin-bottom: 54px;
    }
  }

  .item {
    background-color: white;
    padding: 32px 27px 13px 40px;
    margin-bottom: 5px;
    @media all and (min-width: $desktop) {
      padding-top: 78px;
      padding-bottom: 49px;
    }

    .circle {
      width: 91px;
      height: 91px;
      border-radius: 50%;
      margin-bottom: 40px;
      @media all and (min-width: $desktop) {
        width: 97px;
        height: 97px;
        margin-bottom: 80px;
      }

      &--red {
        background-color: $circle-red;
      }

      &--green {
        background-color: $circle-green;
      }

      &--orange {
        background-color: $circle-orange;
      }
    }

    h3 {
      font-size: 28px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #343131;
      margin-bottom: 15px;
      @media all and (min-width: $desktop) {
        font-size: 42px;
        line-height: 1;
      }
    }

    p {
      font-weight: 300;
      line-height: 1.67;
      margin-bottom: 30px;
      @media all and (min-width: $desktop) {
        line-height: 1.57;
        margin-bottom: 20px;
      }
    }
  }

}